{% extends 'base1.html.twig' %}

{% block body %}
	<div class="row justify-content-center align-items-center" style="height: 100vh;">
		<div class="col-lg-6">
			<div class="card text-center">
				<div class="card-body">

					<h5 class="card-title">Merci pour votre reclamation</h5>


					{# Change the link destination to point to the new page #}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
