

{% block title %}Edit Freelancer{% endblock %}

{% block body %}
    <h1>Edit Freelancer</h1>

    {{ include('freelancer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_freelancer_index') }}">back to list</a>

    {{ include('freelancer/_delete_form.html.twig') }}
{% endblock %}
