

{% block title %}New Freelancer{% endblock %}

{% block body %}
    <h1>Create new Freelancer</h1>

    {{ include('freelancer/_form.html.twig') }}

    <a href="{{ path('app_freelancer_index') }}">back to list</a>
{% endblock %}
