{% extends 'base.html.twig' %}

{% block title %}Edit AssignedJobs{% endblock %}

{% block body %}
    <h1>Edit AssignedJobs</h1>

    {{ include('assigned_jobs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assigned_jobs_index') }}">back to list</a>

<div class="mt-4">
                    <button type="submit" class="btn btn-primary">Soumettre la réclamation</button>
                </div>
<div class="mt-4">
                    <button type="submit" class="btn btn-primary">Soumettre la réclamation</button>
                </div>
    {{ include('assigned_jobs/_delete_form.html.twig') }}
{% endblock %}
