{# stats_by_montant.html.twig #}
{% extends 'base1.html.twig' %}

{% block body %}
<br>
<br>
<br>
<br>
    <div id="chart_div"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Tranche de montant');
            data.addColumn('number', 'Nombre de contrats');
            data.addRows([
                {% for tranche, contratCount in stats %}
                    ['{{ tranche }}', {{ contratCount }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Répartition des contrats par tranche de montant',
                titleTextStyle: {
                    bold: true,
                    color: '#009900', // Couleur du titre
                    italic: true,
                    fontName: 'Arial',
                    fontSize: 20
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}
